[submodule "frontend"]
	path = frontend
	url = git@ssh.dev.azure.com:v3/krsumit449Public/Joke-app/frontend
[submodule "backend"]
	path = backend
	url = git@ssh.dev.azure.com:v3/krsumit449Public/Joke-app/backend
